@import url(//fonts.googleapis.com/css?family=Open+Sans);
.instructions {
	font-style: normal;
	text-align: justify;
	font-size: 16px;
	padding: 5px;
}
     
#instructions{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	text-align: justify;
	font-size: 16px;
	padding: 5px;
}

.custom-bullet li {
    display: block;
    padding-bottom: 1em;
}

.custom-bullet li:before{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}

.description {
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	padding-top: 20px;
	margin: 10px;
	font-size: 16px;
	text-align: justify;
}

@media screen and (max-width: 768px) {
	.description {	
		padding: 10px;
		font-family: 'Open Sans', sans-serif;
		padding-top: 10px;
		margin: 10px;
		font-size: 16px;
		text-align: justify;
	}
}

#note{
	font-family: 'Open Sans', sans-serif;
}

#mediaNull{
	font-family: 'Open Sans', sans-serif;
	padding-left: 85px;
}