/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    height: 400px;
    background: url('http://placehold.it/1920x400') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.navbar-brand>img {	
	height: 100%;
 	width: auto;
}

.navbar-inverse {
  background-color: #f8f9fa!important;
  border-color: #f8f9fa!important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #000;
  background-color: #fff;
}

.navbar-inverse a.navbar-brand:hover, a.dropdown-toggle:hover{
  color: #000 !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(0, 0, 0, .9);
}

#userName{
	text-transform: capitalize;
}
#userName{
	text-transform: capitalize;
}

/* Customize the text color and shadow color and to optimize text legibility. */

/*.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}*/