.panel-default > .panel-heading {
  background: #ffae63;
}

.panel-warning > .panel-heading {
  background: #fcfc97;
}

/*.panel-default > .panel-heading {
  background: #fcfc97;
}

.panel-success > .panel-heading {
  background: red
  ;
}*/